body {
    font-family: Arial, sans-serif;
}

.app {
    justify-content: center;
}

.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.well {
    height: 50px;
    width: 50px;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
}

.well-row {
    display: flex;
}

.row-container {
    display: flex;
    flex-direction: column;
}

.row-label-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 570px;
    font-size: 45px;
}

.label {
    padding: 9.5px;
}

.number-label-div {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 45px;
    padding-left: 20px;
}

.digitlabel {
    text-align: right;
    padding-left: 47px;
}

.digitlabel:nth-child(10),
.digitlabel:nth-child(11),
.digitlabel:nth-child(12){
    padding-left: 28px;
}
